
.app-body{
    //background:url(../../../assets/img/fondo-login.png);
    background: #a4e3ee!important;
}
.logo-login{
    background: #f6fcff!important;
    //border-color: #f8e71c!important;
}
.logoimg{
    width: 90%;
    margin-top: 20%;
}